{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name=viewport>
    <title>getFiles demo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/art_template.js' %}"></script>
</head>
<body>
    <div class="m-header an-mi-header">
        <div class="infos">
            <div class="m-head_img">
                <img class="head_img" src="{% static 'images/headimg_default.jpg' %}" />
            </div>
            <span>欢迎您，xxx</span>
            <a class="u-btn">退出</a>
        </div>
    </div>

    <div class="m-items">
        <div class="header">
            <a href="#" class="u-btn u-btn-back">返回上一级</a>
            <a class="u-btn u-btn-right to-home" href="#">去首页</a>
        </div>
        <div class="list ">
            <div class="u-icon file"></div>
            <a href="/lalala" >removeFile</a>
            <a href="/removeFile/?curr_path=/dict/day02" class="u-btn u-btn-right">删除</a>
        </div>
        <div class="list">123</div>
        <div class="list">123</div>
    </div>

    <div class="m-bot-container">
        <div class="m-form upload-file-panel an-mi-bot">
            <form action="/createFold/" method="post">
                {% csrf_token %}
                <div class="list an-slide-right an-delay-12">
                    <button class="u-btn u-btn-middle btn-create-fold" type="button">创建文件夹</button>

                    <input type="hidden" value="{{ curr_path }}" name="curr_path">

                    <div class="form-create-folder hide">
                        <input type="text" name="foldname" class="u-input" required>
                        <button type="submit" class="u-btn u-btn-middle">创建</button>
                    </div>
                </div>
            </form>
            <form action="/uploadfile/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="list an-slide-right an-delay-12">
                    <div class="input-file-con u-btn">
                        <input type="file" required id="iptUploadFile" name="file" class="u-input-file">
                        <span id="tip">选择上传文件</span>
                    </div>

                    <input type="hidden" value="{{ curr_path }}" name="curr_path">
                    <button class="u-btn u-btn-middle" type="submit">确定上传</button>
                </div>


            </form>
        </div>
    </div>

    {% verbatim myblock %}
    <div id="content">content</div>

    <script id="test" type="text/html">
        <h1>{{ title }}</h1>
    </script>



    <script>
        var data = {
            title:"hello world"
        };
        var html = template("test",data);

        document.getElementById('content').innerHTML = html;

    </script>
    {% endverbatim myblock %}

    <script>
        (function () {

            var uInputFile = document.querySelector('.u-input-file'),
                tip = document.querySelector('#tip');

            uInputFile.addEventListener('change', function () {
                if(this.files.length === 1){ //处理文件名
                    tip.textContent = this.files[0].name;
                }else {
                    tip.textContent = '已选择 ' + this.files.length + ' 个文件';
                }
            }, false)



            var btnCreateFold = document.querySelector('.btn-create-fold'),
                formCreateFolder = document.querySelector('.form-create-folder');

            btnCreateFold.addEventListener('click', function () {
                if(formCreateFolder.classList.contains('hide')){
                    formCreateFolder.classList.remove('hide')
                }else{
                    formCreateFolder.classList.add('hide')
                }
            })

        })();
    </script>
</body>
</html>